<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <title><%= title -%></title>
    <%= meta_tags %>
    <link rel="icon" href="/assets/favicon.ico" type="image/png">

    <%= stylesheet_link_tag @stylesheet_filename, :media => "all" -%>
    <%= csrf_meta_tags -%>
    <%= yield :javascript_header -%>
  </head>
<body>

  <div>

    <div class="container-fluid with_sidebar header-block clearfix">

      <%#* Display Sidebar -%>
      <div class="sidebar">
        <%= render :partial=>"/layouts/poodle/application/sidebar" -%>
      </div>

      <div class="main-content">
        <div id="div_page_header">
          <%= render :partial=>"/layouts/poodle/application/header" -%>
        </div>

        <%#* Show flash messages if controller has set any. -%>
        <div id="div_flash_message">
          <%= flash_message(false) -%>
        </div>

        <%#* Page Content Starts here -%>
        <div id="div_page_content">
          <%= yield %>
        </div>

        <%#* Display Footer -%>
        <div class="cl-40"></div>
        <div id="div_page_footer" class="row footer-with-sidebar">
        <%= render :partial=>"/layouts/poodle/application/footer" -%>
        </div>

      </div>

    </div>

  </div>

  <%#* Display Hidden Overlays -%>
  <%= render :partial=>"/layouts/poodle/common/overlays" -%>

  <%#* Loading Javascripts -%>
  <%= javascript_include_tag @javascript_filename -%>

  <%= yield :javascript_footer -%>

</body>

</html>
