<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <title><%= title -%></title>
    <%= meta_tags %>
    <link rel="icon" href="/assets/favicon.ico" type="image/png">
    <%= stylesheet_link_tag "poodle/application", :media => "all" -%>
    <%= csrf_meta_tags -%>
    <%= yield :javascript_header -%>
  </head>
<body>

  <div>

    <div class="container-fluid header-block clearfix">

      <div id="div_page_header">
        <%= render :partial=>"/layouts/poodle/application/header" -%>
      </div>

      <%#* Show flash messages if controller has set any. -%>
      <div id="div_flash_message">
        <%= flash_message(false) -%>
      </div>

      <%#* Page Content Starts here -%>
      <div class="pt-10" style="min-height:400px;">
        <%= yield %>
      </div>

      <%#* Display Footer -%>
      <%= render :partial=>"/layouts/poodle/application/footer" -%>

    </div>

  </div>

  <%#* Display Hidden Overlays -%>
  <%= render :partial=>"/layouts/poodle/common/overlays" -%>

  <%#* Loading Javascripts -%>
  <%= javascript_include_tag "application" -%>

  <%= yield :javascript_footer -%>

</body>

</html>
